/* 
*
*   @Description: Main page Intranet Style
*
*/

/* ===== Keyframes ===== */
@keyframes text-fade{
    0%{

    }100%{
        opacity: 1;
        left: 0;
    } 
}

/* ===== Body ===== */
body{
    background-color: #e5e9ec;
    color: #303030;
    /* height: 3000px; */
}

/* ===== Navbar ===== */
nav{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 153, 92, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

nav .brand img{
    width: 180px;
}

nav,
nav .brand img,
.menu{
    transition: 400ms;
}

.change-nav{
    background-color: rgba(0, 153, 92, 0.95);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
    height: 70px;
}

nav.change-nav .brand img{
    margin-top: 80px;
}

/* ===== Menu button ===== */
.menu{
    display: none;
    font-size: 50px;
    color: #FFF;
    margin: 0 10px;
}

nav.change-nav .menu{
    font-size: 40px;
}

#user-menu-collapsed .menu{
    margin: 20px;
}

/* ===== Dark Screen ===== */
#dark-screen{
    background-color: rgba(0,0,0, 1);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    position: fixed;
    display: block;
    pointer-events: none;
    transition: 300ms;

}

/* ===== User Menu Collapsed ===== */
#user-menu-collapsed{
    background-color: #00995d;
    z-index: 101;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: 300ms;
}

.menu-active{
    width: 70% !important;
}

/* ===== Background intro ===== */
#background,
#background #bg-img,
#background .bg-intro{
    height: 100%;
    width: 100%;
}

#background{
    border-bottom: 10px solid #a3238e;
    
}

#background #bg-img{
    position: relative;
    background-image: url('../imgs/bg1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

#background .bg-intro{
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

#background .bg-intro span{
    position: relative;
    color: #FFF;
    display: block;
    text-shadow: 3px 3px 5px rgba(0,0,0, .7);
    left: 600px;
    opacity: 0;
}

#background .bg-intro .bgi-title{
    font-size: 10em;
    font-family: 'unimed-slab-bold';
    animation: 'text-fade' 1000ms ease-in-out forwards 0ms;
    -webkit-animation: 'text-fade' 1000ms ease-in-out forwards 0ms;
}

#background .bg-intro .bgi-desc{
    font-size: 3em;
    font-family: 'unimed-slab-regular';
    animation: 'text-fade' 1000ms ease-in-out forwards 200ms;
    -webkit-animation: 'text-fade' 1000ms ease-in-out forwards 200ms;
}




/* ===== Page Body ===== */
#page-body{
    box-sizing: border-box;
    position: relative;
    padding: 10px;

}

#main-content,
#user-menu{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

/* ===== Main content ===== */
#main-content,
#main-content-second{
    background-color: #FFF;
    /* border: 3px solid #f47920; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    display: block;
    width: 800px;
    margin: auto;
    position: relative;
    left: -50px;
    z-index: 98;

}

#main-content .main-content-container{
    width: 640px;
}

#main-content .second-page{
    width: 100% !important;
}

#main-content .main-content-container div{
    padding-bottom: 50px;
}

/* Date Day */
#main-content .main-content-container .date-day{
    text-align: center;
    font-size: 22px;
    font-family: 'unimed-sans-bold';
}
#main-content .main-content-container .date-day::first-letter{
    text-transform: uppercase;
}

/* birthdays */
#main-content .main-content-container .birthdays{
    display: flex;
    justify-content: center;
}

#main-content .main-content-container .birthdays table{
    
    width: 70%;
}

#main-content .main-content-container .birthdays table caption{
    font-size: 14px;
}

#main-content .main-content-container .birthdays table thead th{
    background-color: #a3238e;
    color: #FFF;
    font-family: 'unimed-slab-regular';
    font-size: 18px;
    padding: 5px 0;
}

#main-content .main-content-container .birthdays table tbody tr.aniv{
    border: 1px solid #ffcb08;
    background-color: #ffc9086e !important;
    transition: 300ms;
}

#main-content .main-content-container .birthdays table tbody tr:nth-child(even){
    /* background-color: #b1d34b71; */
    background-color: #bebebe6b;
}

#main-content .main-content-container .birthdays table tbody .aniv td{
    position: relative;
}

#main-content .main-content-container .birthdays table tbody tr td{
    padding: 2px 0;
}

#main-content .main-content-container .birthdays table tbody .aniv td>#setor{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .5);
    position: absolute;
    top: 25px;
    right: 50%;
    width: 50%;
    padding: 10px;
    transform: translate(50%, 0);
    pointer-events: none;
    opacity: 0;
    transition: 300ms;
}

#main-content .main-content-container .birthdays table tbody tr.aniv:hover>td>#setor{
    opacity: 1;
}

#main-content .main-content-container .birthdays table tbody tr.aniv:hover{
    background-color: #ffc908b2 !important;
    cursor: pointer;
}


#main-content .main-content-container .birthdays table, th, td{
    /* border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
}

#main-content .main-content-container .birthdays table th:nth-child(1){
    width: 70px;
}

#main-content .main-content-container .birthdays table tbody tr td:nth-child(2){
    font-size: 12px;
}

#main-content .main-content-container .information{
    text-align: center;
    color: #3d3d3d;
}

#main-content .main-content-container .information .title{
    font-family: 'unimed-slab-bold';
    font-size: 18px;
    color:#FFA200;
}

#main-content .main-content-container .information .cit{
    font-size: 15px;

}

#main-content .main-content-container .information .who{
    text-align: justify;
}

#main-content .main-content-container .information span{
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

#main-content .main-content-container .information .mvv-title,
#main-content .main-content-container .information .mvv-content{
    text-align: justify;
}

#main-content .main-content-container .information .mvv-title{
    font-weight: bold;
    color: #008852;
    padding: 10px 0;
}

#main-content .main-content-container .information .mvv-content ul{
    padding: 0 0 0 50px;
}


/* ===== User menu / Colapsed User Menu ===== */
#user-menu{
    background-color:#00995d;
    display: block;
    position: absolute;
    width: 250px;
    right: 130px;
    top: 50px;
    z-index: 99;
    padding: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.login-box{
    display: block;
    width: 100%;
    text-align: center;
}

.login-box h1{
    color: #FFF;
    padding: 10px;
    font-size: 24px;
}

.login-box .form-group{
    margin: 5px 0;
}

.login-box .form-group label{
    margin:0;
    padding: 0;
    color: #FFF;
}

.login-box .form-group label span.icon-at{
    background-image: '../img/at.svg';
    width: 30px;
    height: 30px;
}

.login-box .form-group input{
    margin: 0;
    padding: 0;
}

.login-box .form-group input[type="text"],
.login-box .form-group input[type="password"]{
    background-color: #FFF;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 5px;
}

.login-box .form-group button{
    width: 60%;
}

.login-box .login-information{
    display: block;
    margin: auto;
    font-size: 12px;
    color: #FFF;
    width: 60%;
}

.login-box .user-welcome{
    color: #FFF;
    font-size: 20px;
    margin: 10px 0;
}

.login-box .user-welcome .user-welcome-name{
    /* text-decoration: underline; */
}

.login-box .user-welcome .logout{
    display: block;
    font-size: 16px;
    margin: 20px;
}

.login-box .user-welcome .logout a{
    text-decoration: none;
    color: #FFF;
    font-weight: 100;
    padding: 5px 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    transition: 300ms;
}

.login-box .user-welcome .logout a:hover{
    color: #755c00;
    border-color: #ffcb08;
    background-color: #ffcb08;
}

.login-box .restric-area{
    position: relative;
}

.login-box .restric-area span{
    width: 100%;
    display: block;
    padding: 20px 0;
    cursor: pointer;
    color: #FFF;
}

.login-box .restric-area span:hover{
    background-color: #008651;
}



.login-box .restric-area .links{
    display: inline-block;
    position: absolute;
    left: -200px;
    top: 0;
    width: 0px;
    overflow: hidden;
    background-color: #008651;
}

.login-box .restric-area .links ul{
    list-style: none;
}

.login-box .restric-area .links ul li a{
    display: block;
    padding: 10px 0;
    transition: 100ms;
    color: #FFF;
    text-decoration: none;
}

.login-box .restric-area .links ul li a:hover{
    background-color: #f47920;
}

.login-box .restric-area span:hover > .links{
    width: 200px;
}


.login-box .point-watch a img{
    width: 60px;
}

.login-box .connect-ti a img{
    width: 80px;
}


.login-box .aux-button .btn-rounded{
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    background-color: rgba(177, 211, 77, .4);
    display: block;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 10px;
}


/* =========== MEDIA QUERIES =========== */

@media (max-width: 1199.98px) {
    .container{
        width: 900px;
    }

    #main-content{
        width: 750px;
    }

    #main-content .main-content-container{
        width: 580px;
    }

    #user-menu{
        right: 20px;
    }

}

@media (max-width: 991.98px) { 
    .container{
        width: 100%;
    }

    #user-menu{
        display: none;
    }

    #main-content{
        width: 100%;
        left: 0;
    }
    
    #main-content .main-content-container{
        width: 100%;
        box-sizing: border-box;
    }

    #main-content .main-content-container .birthdays table{
    
        width: 100%;
    }

    nav{
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .menu{
        display: block;
    }

    .login-box{
        margin: auto;
    }

    nav .brand img{
        width: 130px;
    }

    nav.change-nav .brand img{
        margin-top: 0px;
    }

    
}

@media (max-width: 767.98px) {


    #background .bg-intro span:nth-child(1){
        font-size: 5em;
    }
    
    #background .bg-intro span:nth-child(2){
        font-size: 2em;
    }



    
}

@media (max-width: 575.98px) {
    
}