/* 
*
*   @Description: Secondary page Intranet Style
*
*/

/* ===== Body ===== */
body{
    background-color: #c4cbcf;
}
#main{
    display: flex;
    flex-direction: column;
}

/* Navbar */
#main nav{
    width: 100%;
    height: 80px !important;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: #00995c;
    position: fixed;
    
}

#main nav .brand img{
    width: 120px;
}

#main nav .navbar-user{
    color:#FFF;
    font-size: 20px;
}

#main nav .navbar-user span{
    font-family:'unimed-slab-bold';
    text-transform: uppercase;
    text-decoration: underline;
}

#content{
    height: 100%;
    flex-flow: column;
}

#page-body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content{
    margin-top: 80px;
    background-color: #FFF;
    display: block;
    width: 70%;
    height: 80%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
    text-align: justify;
    overflow: hidden;
}

.box-content header .title h3{
    color:#f47920;
    font-size: 28px;
    padding: 20px 0 0;
}

.box-content .adm-content{
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
    padding: 10px 0;
}

#point-box header .title span{
    font-size: 14px;
    font-style: italic;
}

#point-box header .warning-box{
    padding: 30px 10px 30px;
    border-bottom: 2px solid #00995c;
}

#point-box header .warning-box .warning{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

#point-box header .warning-box .warning-ip{
    text-decoration: underline;
    font-style: italic;
}

#point-box header .inst-box {
    padding: 30px 10px 30px;
    border-bottom: 2px solid #00995c;
}

.point-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.point-content .pis-num{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 20px 0;
}


.point-content .time-select{
    width: 100%;
    display: flex;
    align-items: center;
}

.point-content .time-select aside{
    width: 25%;
    height: 140px;
    display: flex;
    justify-content: center;
}

.point-content .time-select aside table{
    width: 80%;
}

.point-content .time-select aside table, tr, td, th{

    border-collapse: collapse;
    text-align: center;
}

.point-content .time-select aside table caption{
    font-family: 'unimed-slab-bold';
}
.point-content .time-select aside table thead tr th{
    font-family: 'unimed-slab-bold';
    color: #a3238e;
}


.point-content .time-select aside table tbody tr td{
    padding: 2px 0;
}

.point-content .time-select aside table tbody tr:nth-child(odd){
    background-color: #c4cbcf;
}


.point-content .time-select .func-selection{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.point-content .time-select .func-selection select{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #a7a7a7;
    border-radius: 0px;
    background-color:#FFF;
    padding: 5px 10px;
}

/* ========== Administrative Panel ========== */
/* User List */
#adm-panel{
    display: block;
    width: 100%;
}

#adm-panel .adm-content{
    width: 100%;
}

#adm-panel .adm-content table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
}

#adm-panel .adm-content table caption{
    width: 100%;
    padding: 5px 100px;
    text-align: right;
    box-sizing: border-box;
}

#adm-panel .adm-content table caption button{
    background-color: #00995c;
    border: 2px solid #00995c;
    margin: 0px 10px;
    padding: 5px 10px;
    transition: 300ms;
    font-weight: bold;
    color: #FFF;
}

#adm-panel .adm-content table caption button::before{
    content: '+ ';
    font-family: Arial, Helvetica, sans-serif;
    
}

#adm-panel .adm-content table caption button:hover{
    /* background-color: #bcffe4; */
}


#adm-panel .adm-content table thead th{
    padding: 10px 0;
    background-color: #444444;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr{
    padding: 5px 0;
    transition: 200ms;
}

#adm-panel .adm-content table tbody tr td{
    padding: 7px 0;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption{
    box-sizing: border-box;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button{
    border: 2px solid red;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    transition: 300ms;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-edit{
    background-color: #ec8d48;
    border-color: #f47920;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-edit:hover{
    background-color: #f47920;
    border-color: #f47920;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-inactive{
    background-color: #ff4646;
    border-color: #fc2222;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-inactive:hover{
    background-color: #fc2222;
    border-color: #fc2222;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-active{
    background-color: #02cf7d;
    border-color: #00c073;
    color: #FFF;
}

#adm-panel .adm-content table tbody tr td.ul-btnOption button.ul-active:hover{
    background-color: #00c073;
    border-color: #00c073;
    color: #FFF;
}


#adm-panel .adm-content table tbody tr.inactive{
    background-color: rgb(255, 142, 142) !important;
    border-bottom: 1px solid #ff3f3f;
}

#adm-panel .adm-content table tbody tr:nth-child(even){
    background-color: #d3d3d3;
}

#adm-panel .adm-content table tbody tr:hover{
    background-color: #e7e7e7;
}



/* New User */
#adm-user{
    display: none;
    flex-direction: column;
}

#adm-user .user-content{
    flex-grow: 1;
}

#adm-user .user-content .form-user{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#adm-user .user-content .form-user .form-group>input, select{
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 40%;
    border: 1px solid #727272;
    transition: 200ms;
}

#adm-user .user-content .form-user .form-group>input:focus, select:focus{
    border: 1px solid #0071ce;
    box-shadow: 0px 0px 5px rgba(0, 113, 206, 0.644);
}

#adm-user .user-content .form-user .form-group .input-error{
    border: 1px solid #fc2121;
    box-shadow: 0px 0px 5px rgba(255, 40, 40, 0.644);
    background-color: #ffed85;
}

#adm-user .user-buttons button{
    border: 2px solid #303030;
    color: #303030;
    padding: 5px 20px;
    background-color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    transition: 300ms;
}

#adm-user .user-buttons #btnFinalizar{
    background-color: #02cf7d;
    border-color: #00ad68;
    color: #FFF;
}

#adm-user .user-buttons #btnFinalizar:hover{
    background-color: #00ad68;
    border-color: #00ad68;
    color: #FFF;
}

#adm-user .user-buttons #btnCancelar{
    background-color: #ff4646;
    border-color: #fc2222;
    color: #FFF;
}

#adm-user .user-buttons #btnCancelar:hover{
    background-color: #fc2222;
    border-color: #fc2222;
    color: #FFF;
}

/* =========== MEDIA QUERIES =========== */

@media (max-width: 1199.98px) {
    .container{
        width: 900px;
    }


}

@media (max-width: 991.98px) { 
    .container{
        width: 100%;
    }
    
}

@media (max-width: 767.98px) {
    .container{
        width: 100%;
    }

    #point-box{
        width: 98%;
        margin: 300px 0px 10px;
    }

    #main nav{
        padding: 0 10px;
    }

    .point-content .time-select{
        flex-direction: column;
    }

    .point-content .time-select aside{
        height: 140px;
        width: 100%;
    }

    
}

@media (max-width: 575.98px) {
    #main nav .navbar-user{
        font-size: 14px;
    }

    #page-body{ 
        margin-top: -120px;
        height: 1000px;
    }
}