/* 
*
*   @Description: Global style
*
*/

/* ===== Font face ===== */
@font-face{
    font-family: 'unimed-slab-regular';
    src: url('../fonts/unimed-slab/unimed-slab-regular.otf');
}

@font-face{
    font-family: 'unimed-slab-bold';
    src: url('../fonts/unimed-slab/unimed-slab-bold.otf');
}

@font-face{
    font-family: 'unimed-sans-regular';
    src: url('../fonts/unimed-sans/unimed-sans-regular.ttf');
}

@font-face{
    font-family: 'unimed-sans-bold';
    src: url('../fonts/unimed-sans/unimed-sans-bold.ttf');
}

*{
    margin: 0;
    padding: 0;
}
/* ===== Body ===== */
body{
    
    font-family: 'unimed-sans-regular';
}

/* ===== 100% vh ===== */
html, body, main{
    width: 100%;
    height: 100%;
}

/* ===== NoScript ===== */
.NoScript-Container{
    background-color: #FFF;
    display: block;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 20px;
    padding: 50px;
    box-sizing: border-box;
}

.NoScript-Logo img{
    width: 200px;
    padding-bottom: 20px;
}


/* ===== Notification ===== */


#notification{
    background-color:#bdfde3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border: 2px solid #008852;
    position: fixed;
    display: block;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0) skewX(-10deg);
    opacity: 0;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    /* border-radius: 20px; */
    z-index: 9999;
    transition: 300ms;
    pointer-events: none;
}

#notification.notification-active{
    top: 150px;
    transform: translate(-50%, 0) skewX(-5deg);
    opacity: 1 ;
    pointer-events: all;
}

#notification:hover{
    transform: scale(1.03) translate(-48%, 0) skewX(-5deg) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    cursor: pointer;
}

#notification:active{
    transform: scale(1.02) translate(-48.5%, 0) skewX(-5deg) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    cursor: pointer;
}



/* ===== Container ====== */
.container{
    width: 1180px;
    margin:auto;
}

/* ===== Buttons ===== */
.btn{
    border: 1px solid #464646;
    border-radius: 100px;
    background-color:#f1f1f1;
    padding: 4px;
}

.btn:hover{
    cursor: pointer;
}

.btn-form-login{
    background-color: #ed1651;
    border: 1px solid #ed1651;
    color: #fff;
    transition: 300ms;
    font-family: 'unimed-slab-bold';
}

.btn-form-login:hover{
    background-color: #e43060;
}

.btn-blue{
    background-color: #008ddf;
    border: 1px solid #008ddf;
    color: #fff;
    transition: 300ms;
    font-family: 'unimed-slab-bold';
}


.btn-blue:hover{
    background-color: #2a99da;

}

/* ===== Header ===== */
h1, h2, h3, h4, h5, h6{
    font-family: 'unimed-slab-bold';
    margin: 0;
    padding: 0;
}
